# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
eggs/
*.whl

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env


# Data
data/
*.csv
*.tsv
*.parquet
*.arrow

# Vector DB / index files
*.faiss
*.index
chroma_db/
qdrant_storage/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
