services:
  app:
    environment:
      - QDRANT_URL=http://qdrant:6333
    build: .
    ports:
      - '8000:8000'
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - '6333:6333' # REST API
      - '6334:6334' # gRPC
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
